.header-bg {
  background: url('images/background.jpg') no-repeat center center / cover;
  filter: blur(7px);
  height: 100%;
  width: 100%;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
}

.hamburger-icon {
  display: inline-block;
  width: 20px;
  height: 15px;
  position: relative;
  transition: all 0.3s ease;
}

.hamburger-icon span {
  position: absolute;
  height: 3px;
  width: 100%;
  background: #000000; 
  border-radius: 2px;
  left: 0;
  transition: all 0.3s ease;
}

.hamburger-icon span:nth-child(1) {
  top: 0;
}
.hamburger-icon span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
.hamburger-icon span:nth-child(3) {
  bottom: 0;
}

#menuToggle:checked + label .hamburger-icon span:nth-child(1) {
  transform: rotate(45deg);
  top: 9px;
}
#menuToggle:checked + label .hamburger-icon span:nth-child(2) {
  opacity: 0;
}
#menuToggle:checked + label .hamburger-icon span:nth-child(3) {
  transform: rotate(-45deg);
  bottom: 8px;
}

